name: Docker Deploy

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  REPO_NAME: ${{ secrets.REPO_NAME }}
on:
  workflow_run:
    workflows: ["Testiranje kode"]
    types:
      - completed
    status:
      - success


jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repozitorija
        uses: actions/checkout@v2

      
      - name: Prijava v Docker
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD docker.io

      - name: Trenutni Äas
        id: datum
        run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_ENV"
      
      - name: Zgradi docker sliko
        run: |
          echo ${{ steps.datum.outputs.date }}
          echo "docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPO_NAME:$date"
          docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPO_NAME:$date

      - name: Potisni docker sliko
        run: |
          docker push $DOCKER_USERNAME/$REPO_NAME:$date
