name: Docker Deploy

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  REPONAME: ${{ secrets.REPO_NAME }}
on:
  workflow_run:
    workflows: ["Testiranje kode"]
    types:
      - completed
    status:
      - success


jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repozitorija
        uses: actions/checkout@v2

      - name: Namesti Docker
        run: |
          sudo apt-get update
          sudo apt-get install docker.io -y
      
      - name: Prijava v Docker
        run: sudo docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}


      - name: Trenutni Äas
        id: datum
        run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_ENV"
      
      - name: Zgradi docker sliko
        run: |
          echo ${{ steps.datum.outputs.date }}
          echo "docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPONAME:$date"
          docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPONAME:$date

      - name: Potisni docker sliko
        run: |
          docker push $DOCKER_USERNAME/$REPONAME:$date
